body{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    margin: 0;
}
.span-color{
    color: rgb(78, 141, 141);
}
#para-size{
    font-size: 19px;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 30px;
  
}
.half-width img{
    width: 75%;
    padding-top: 10px;
}
.abutton{
    text-decoration: none;
    background-color: #cf6f02;
    color: ivory;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.abutton:hover{
    background-color: aliceblue;
    color: #cf6f02;
    border: 2px solid #cf6f02;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 15px;
}