body{
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    margin: 0;
}
.span-color{
    color: rgb(206, 144, 50);
}
.para-size{
    font-size: 18px;
}
.flexible-container{
    display: flex;
    margin-bottom: 185px;
}
.half-width{
    width: 50%;
    padding-left: 30px;
  
}
.half-width img{
    width: 75%;
    padding-top: 10px;
}
.abutton{
    text-decoration: none;
    background-color: #cf6f02;
    color: ivory;
    padding: 10px 40px;
    border-radius: 5px;
    font-size: 20px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.abutton:hover{
    background-color: aliceblue;
    color: #cf6f02;
    border: 2px solid #cf6f02;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 55px;
}
h6{
    color: rgb(206, 144, 50);
    font-size: 20px;
}
h2{
    font-size: 40px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}